<players>
  
  <!--
    Rankings and pgn-files as of 2015-05-04.
    Players used in the study.
  -->
  
  <player>
    <name>Hirsch, Andreas</name>
    <index>0</index>
    <ranking>1994</ranking>
    <filename>Resources/Player0.pgn</filename>
  </player>

  <player>
    <name>Andersson, Johan</name>
    <index>1</index>
    <ranking>2101</ranking>
    <filename>Resources/Player1.pgn</filename>
  </player>
  
  <player>
    <name>Abaeji, Sinan Younus Abdulrazzaq</name>
    <index>2</index>
    <ranking>2211</ranking>
    <filename>Resources/Player2.pgn</filename>
  </player>

  <player>
    <name>Vidarte Morales, Arturo</name>
    <index>3</index>
    <ranking>2320</ranking>
    <filename>Resources/Player3.pgn</filename>
  </player>
  
  <player>
    <name>Wegerle, Joerg</name>
    <index>4</index>
    <ranking>2430</ranking>
    <filename>Resources/Player4.pgn</filename>
  </player>

  <player>
    <name>Prusikin, Michael</name>
    <index>5</index>
    <ranking>2535</ranking>
    <filename>Resources/Player5.pgn</filename>
  </player>

  <player>
    <name>Postny, Evgeny</name>
    <index>6</index>
    <ranking>2645</ranking>
    <filename>Resources/Player6.pgn</filename>
  </player>
</players>