<levels>
  <level>
    <name>Andreas Hirsch</name>
    <index>0</index>
    <ranking>1994</ranking>
    <filename>Resources/Level0.pgn</filename>
  </level>
  
  <level>
    <name>Sinan Younus Abdulrazzaq Abaeji</name>
    <index>1</index>
    <ranking>2211</ranking>
    <filename>Resources/Level1.pgn</filename>
  </level>

  <level>
    <name>Miroslav Vlasenko</name>
    <index>2</index>
    <ranking>2428</ranking>
    <filename>Resources/Level2.pgn</filename>
  </level>

  <level>
    <name>Evgeny Postny</name>
    <index>3</index>
    <ranking>2645</ranking>
    <filename>Resources/Level3.pgn</filename>
  </level>
  
  <level>
    <name>Alexander Carlsen</name>
    <index>4</index>
    <ranking>2863</ranking>
    <filename>Resources/Level4.pgn</filename>
  </level>
</levels>